    /* pc  */
    @media(min-width: 1024px){
        #nav {
            display: inline-block;
        }
        
    } 

    /* tablet  */
    @media(min-width: 740px ) and (max-width: 1023px){
        
       
        
    } 
    
    /* mobile  */
    @media (max-width: 739px){
        
        #header {
            overflow: hidden;
        }

        
        #header .search-btn{
            display: none;
        }
        
        #header .menu-icon{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }

        #header #nav li:first-child{
            display: inline-block;
        }

        #nav li {
            display: block;
        }

        #nav li a {
            padding: 1px 24px;
        }
        
        #nav .list {
            /* display: block; */
            
            position: initial;
            background-color: #333;
        }
        #nav .list a {
            color: #fff;
            padding: 5px 41px;
        }

        #content .content_section{
            width: 100%;
        }

        .s-col-full{
            width:100%;
        }

        .member .member_img{
            width: 60%
        }
    

    }
   
